Repository third-culture-software/bhima, pull requests merged in 2021-11, with the labels that each got.

#6060 feat(lots): add barcode server-side API
  client/src/modules/stock/lots/modals/edit.modal.html
  client/src/modules/stock/lots/modals/edit.modal.js
  server/config/identifiers.js
  server/controllers/stock/core.js
  server/lib/barcode.js
  test/integration/barcodes.js
Labels: Feature Request, Stock

#6059 perf(stock): use invoiceUuid instead of reference
  client/src/modules/stock/exit/modals/findPatient.modal.js
  server/controllers/finance/invoice/lookupConsumableInvoice.js
Labels: Refactor, Stock

#6070 Enable stock entry and exit using barcodes
  client/src/i18n/en/barcode.json
  client/src/i18n/en/stock.json
  client/src/i18n/en/table.json
  client/src/i18n/fr/barcode.json
  client/src/i18n/fr/stock.json
  client/src/i18n/fr/table.json
  client/src/js/components/bhAddItem.js
  client/src/js/components/bhFindPatient.js
  client/src/modules/cash/cash.html
  client/src/modules/cash/payments/registry.html
  client/src/modules/invoices/registry/registry.html
  client/src/modules/patients/registry/registry.html
  client/src/modules/purchases/registry/registry.html
  client/src/modules/stock/entry/modals/lots.modal.html
  client/src/modules/stock/entry/modals/lots.modal.js
  client/src/modules/stock/entry/modals/templates/lot.barcode.tmpl.html
  client/src/modules/stock/exit/exit.html
  client/src/modules/stock/exit/exit.js
  client/src/modules/stock/exit/modals/findPatient.modal.html
  client/src/modules/stock/inventories/registry.html
  client/src/modules/stock/lots/registry.html
  client/src/modules/templates/barcode-scanner-modal.html
  client/src/modules/vouchers/voucher-registry.html
Labels: Stock

#6077 Add optional daily balances to the RUMER report
  client/src/i18n/en/report.json
  client/src/i18n/fr/report.json
  client/src/modules/reports/generate/rumer_report/rumer_report.config.js
  client/src/modules/reports/generate/rumer_report/rumer_report.html
  server/controllers/stock/reports/rumer.report.handlebars
  server/controllers/stock/reports/rumer_condensed.report.handlebars
  server/controllers/stock/reports/stock/rumer.js
Labels: Stock

#6112 Bump dependencies before release
  package.json
  yarn.lock
Labels: dependencies

#6113 deps: bump dependencies
  yarn.lock
Labels: dependencies
