Repository third-culture-software/bhima, pull requests merged in 2021-02, with the labels that each got.

#5317 feat(stock): add option to view AMC calcs
  client/src/i18n/en/inventory.json
  client/src/i18n/en/stock.json
  client/src/i18n/fr/inventory.json
  client/src/i18n/fr/stock.json
  client/src/js/services/StockService.js
  client/src/modules/stock/inventories/modals/amc.modal.html
  client/src/modules/stock/inventories/modals/amc.modal.js
  client/src/modules/stock/inventories/registry.js
  client/src/modules/stock/inventories/templates/cmm.cell.html
  client/src/modules/stock/inventories/templates/inventory.action.html
  client/src/modules/stock/lots/modals/edit.modal.html
  client/src/modules/stock/stock.service.js
  server/controllers/inventory/depots/extra.js
  server/controllers/stock/core.js
  server/models/procedures/stock.sql
Labels: Stock

#5334 feat(stock): default filter on depot for movements
  client/src/modules/stock/inventories/templates/inventory.action.html
Labels: Stock

#5226 Lifetime calculation in days not months
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/js/services/LotService.js
  client/src/modules/stock/lots/registry.js
  client/src/modules/stock/lots/registry.service.js
  client/src/modules/stock/lots/templates/in_risk_of_expiration.html
  client/src/modules/stock/lots/templates/lifetime.cell.html
  client/src/modules/stock/lots/templates/lot_lifetime.cell.html
  client/src/modules/stock/lots/templates/risk.cell.html
  client/src/modules/stock/lots/templates/risk_quantity.cell.html
  client/src/modules/stock/lots/templates/row.expired.html
  package.json
  server/controllers/stock/core.js
  test/integration/stock/lots.js
  yarn.lock
Labels: Bug Fix

#5361 Add page for finding and merging duplicate lots
  client/src/i18n/en/stock.json
  client/src/i18n/en/table.json
  client/src/i18n/en/tree.json
  client/src/i18n/fr/stock.json
  client/src/i18n/fr/table.json
  client/src/i18n/fr/tree.json
  client/src/modules/stock/lots-duplicates/lots-duplicates.html
  client/src/modules/stock/lots-duplicates/lots-duplicates.js
  client/src/modules/stock/lots-duplicates/templates/action.cell.html
  client/src/modules/stock/stock.routes.js
  server/controllers/stock/lots.js
  server/models/bhima.sql
  server/models/migrations/next/migrate.sql
  test/integration/mergeLots.js
Labels: Stock

#5368 Display inventory name in merge lots modal
  client/src/css/structure.css
  client/src/modules/stock/lots-duplicates/lots-duplicates.js
  client/src/modules/stock/lots/modals/duplicates.modal.html
  server/controllers/stock/lots.js
  test/integration/stock/lots.js
Labels: Stock

#5396 Automatically merge duplicate lots
  client/src/i18n/en/form.json
  client/src/i18n/en/stock.json
  client/src/i18n/fr/form.json
  client/src/i18n/fr/stock.json
  client/src/js/services/LotService.js
  client/src/modules/stock/lots-duplicates/lots-duplicates.html
  client/src/modules/stock/lots-duplicates/lots-duplicates.js
  client/src/modules/stock/lots/modals/duplicates.modal.html
  client/src/modules/stock/lots/modals/duplicates.modal.js
  server/config/routes.js
  server/controllers/stock/lots.js
Labels: Feature Request, Stock
