Repository third-culture-software/bhima, pull requests merged in 2021-03, with the labels that each got.

#5432 fix(stock): make "at risk of expiration" flag work
  client/src/i18n/en/stock.json
  client/src/modules/stock/StockFilterer.service.js
  client/src/modules/stock/inventories/registry.js
  client/src/modules/stock/inventories/templates/inventory.action.html
  server/controllers/stock/core.js
  server/controllers/stock/index.js
  test/integration-stock/depots.js
Labels: Bug Fix, Stock

#5402 5328: add link to fiche de stock from articles in stock
  client/src/modules/stock/inventories/registry.js
  client/src/modules/stock/inventories/templates/inventory.action.html
Labels: Stock

#5449 fix(stock): update inventory text on lot edit
  client/src/modules/stock/lots/modals/edit.modal.html
  client/src/modules/stock/lots/modals/edit.modal.js
Labels: Bug Fix

#5445 fix(stock): give descriptions to adjustments
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/modules/stock/adjustment/adjustment.js
  server/controllers/stock/index.js
Labels: Bug Fix

#5459 Improvements to Stock Movement Registry
  client/src/modules/stock/movements/registry.js
Labels: Feature Request, Stock

#5454 fix(stock): submit button active only when valid on exit
  client/src/modules/stock/exit/exit.js
Labels: Bug Fix, Stock

#5451 Add opening balance to the fiche de stock
  server/controllers/stock/core.js
  server/controllers/stock/reports/stock/stock_sheet.js
  server/controllers/stock/reports/stock_sheet.report.handlebars
Labels: Stock

#5465 improve-chart-of-consumption
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/modules/reports/generate/stock_consumption_graph_report/stock_consumption_graph_report.config.js
  client/src/modules/reports/generate/stock_consumption_graph_report/stock_consumption_graph_report.html
  server/controllers/stock/core.js
  server/controllers/stock/reports/stock/consumption_graph.js
  server/controllers/stock/reports/stock_consumption_graph.handlebars
  server/lib/chart.js
Labels: Stock

#5468 chore: bump all dependencies
  package.json
  yarn.lock
Labels: dependencies

#5284 feat: add ignore reversed record to vouchers
  client/src/i18n/en/vouchers.json
  client/src/i18n/fr/vouchers.json
  client/src/js/services/SearchModal.js
  client/src/modules/vouchers/modals/search.modal.html
  client/src/modules/vouchers/modals/search.modal.js
  client/src/modules/vouchers/voucher-registry.ctrl.js
  client/src/modules/vouchers/vouchers.service.js
  server/controllers/finance/journal/index.js
  server/controllers/finance/transactions.js
  server/controllers/finance/vouchers.js
  server/lib/db/index.js
  server/lib/filter.js
  test/integration/journal.js
  test/integration/vouchers.js
Labels: Feature Request

#5469 fix(stock): rewrite monthly consumption report
  server/controllers/stock/reports/monthly_consumption.report.handlebars
  server/controllers/stock/reports/stock/monthly_consumption.js
  server/controllers/stock/reports/stock_changes.js
  server/models/procedures/stock.sql
Labels: Stock

#5470 fix(stock): fix currencies in invoice comp report
  server/controllers/finance/reports/invoiced_received_stock/report.handlebars
Labels: Stock

#5473 feat(stock): add minimum delay to stock settings
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/modules/stock/settings/stock-settings.html
  client/src/modules/stock/settings/stock-settings.js
  server/controllers/stock/core.js
  server/controllers/stock/index.js
  server/controllers/stock/reports/stock/expiration_report.js
  server/controllers/stock/setting/index.js
  server/models/migrations/next/migrate.sql
  server/models/schema.sql
  test/integration/stock/stockSettings.js
Labels: Stock

#5471 chore(stock): improve exit report formatting
  server/controllers/stock/reports/stock_exit.report.handlebars
Labels: Stock

#5477 chore(stock): remove abherrant AMC/CMM algorithms
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/js/constants/bhConstants.js
  client/src/modules/stock/inventories/modals/amc.modal.html
  client/src/modules/stock/inventories/modals/amc.modal.js
  server/models/migrations/next/migrate.sql
  server/models/procedures/stock.sql
  test/integration-stock/depots.js
Labels: Refactor, Stock

#5475 New stock adjustment receipt
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/modules/stock/inventory-adjustment/inventory-adjustment.js
  server/controllers/stock/index.js
  server/controllers/stock/reports/stock/adjustment_receipt.js
  server/controllers/stock/reports/stock_adjustment.receipt.handlebars
  server/models/migrations/next/migrate.sql
  server/models/schema.sql
Labels: Stock

#5492 fix(stock): count initial days as stock out
  server/models/procedures/stock.sql
Labels: Bug Fix

#5501 docs(stock): touch up stock docs
  docs/en/stock-management/depot.md
  docs/en/stock-management/index.md
  docs/en/stock-management/movement.entry.md
  docs/en/stock-management/overview.md
  docs/en/stock-management/stock.settings.md
Labels: Stock, documentation

#5514 feat(stock): link voucher from stock movement
  client/src/i18n/en/form.json
  client/src/i18n/fr/form.json
  client/src/modules/stock/movements/registry.js
  client/src/modules/stock/movements/templates/action.cell.html
  client/src/modules/vouchers/vouchers.service.js
  server/controllers/finance/vouchers.js
Labels: Stock

#5472 chore: clean up install tests
  server/controllers/install.js
  sh/install-tests.sh
  sh/integration-tests.sh
  test/integration-install/install.js
  test/integration-install/setup.js
Labels: tests

#5512 Search for stock movements by voucher reference
  client/src/i18n/en/form.json
  client/src/i18n/fr/form.json
  client/src/modules/stock/StockFilterer.service.js
  client/src/modules/stock/movements/modals/search.modal.html
  client/src/modules/stock/movements/modals/search.modal.js
  server/controllers/stock/core.js
  test/integration/stock/stock.js
Labels: Stock

#5479 fix(patients): remove duplicate stock movements in financial standing
  server/controllers/finance/reports/financial.patient.handlebars
  server/controllers/finance/reports/financial.patient.js
  server/controllers/medical/patients/index.js
  test/integration/patients.js
Labels: Bug Fix, Stock

#5483 fix: typo in old migration script
  server/models/migrations/v1.17.0-v1.17.1/migrate.sql
Labels: Bug Fix

#5484 chore(roles): use bhCheckboxTree for actions
  client/src/js/components/bhCheckboxTree/bhCheckboxTree.js
  client/src/modules/roles/modal/roleActions.html
  client/src/modules/roles/modal/roles.actions.js
  client/src/modules/roles/roles.service.js
Labels: Refactor

#5511 Remove stock movement
  client/src/i18n/en/stock.json
  client/src/i18n/fr/stock.json
  client/src/js/services/StockService.js
  client/src/js/services/TransactionService.js
  client/src/modules/stock/movements/registry.js
  client/src/modules/stock/movements/templates/action.cell.html
  server/config/routes.js
  server/controllers/stock/index.js
  test/integration/stock/shared.js
  test/integration/stock/stock.js
Labels: Stock

#5507 5450 use stock movement status for stock out check
  client/src/js/components/bhStockOut/bhStockOut.html
  client/src/js/components/bhStockOut/bhStockOut.js
  client/src/js/components/bhStockPanelOutOfStock.js
  client/src/js/services/StockService.js
  client/src/modules/depots/depots.service.js
  client/src/modules/stock/exit/exit.html
  client/src/modules/templates/bhStockPanelOutOfStock.tmpl.html
  server/controllers/admin/users/depots.js
  server/controllers/inventory/depots/index.js
  test/integration-stock/depots.js
Labels: Stock, performance

#5520 fix(stock): calculate CMM for aggregated movement
  server/controllers/stock/index.js
  test/integration/stock/stock.js
Labels: Bug Fix

#5521 fix(stock): stock movement status on delete
  server/controllers/stock/index.js
  test/integration/stock/stock.js
Labels: Bug Fix

#5506 Prevent expired lots from being selected in stock entry
  client/src/i18n/en/errors.json
  client/src/i18n/fr/errors.json
  client/src/js/services/LotService.js
  client/src/modules/stock/entry/entry.js
  client/src/modules/stock/entry/modals/StockEntryModalForm.service.js
  client/src/modules/stock/entry/modals/lots.modal.html
  client/src/modules/stock/entry/modals/lots.modal.js
  test/client-unit/components/bhCheckboxTree/bhCheckboxTree.spec.js
Labels: Do Not Merge, Stock

#5542 Fix purchase registry template path
  client/src/modules/purchases/purchases.routes.js
Labels: Bug Fix

#5525 feat(purchase): update purchase orders
  client/src/js/components/bhSupplierSelect.js
  client/src/js/services/Pool.js
  client/src/js/services/Store.js
  client/src/modules/purchases/create/PurchaseOrderForm.js
  client/src/modules/purchases/create/createUpdate.html
  client/src/modules/purchases/create/createUpdate.js
  client/src/modules/purchases/modals/status.js
  client/src/modules/purchases/modals/status.tmpl.html
  client/src/modules/purchases/purchases.routes.js
  client/src/modules/purchases/purchases.service.js
  client/src/modules/purchases/registry/registry.js
  client/src/modules/purchases/templates/action.cell.html
  client/src/modules/templates/bhSupplierSelect.tmpl.html
  server/controllers/finance/purchases.js
  server/controllers/inventory/reports/purchases.receipt.handlebars
  server/models/migrations/next/migrate.sql
  server/models/schema.sql
  test/data.sql
  test/end-to-end/purchases/purchases.spec.js
  test/integration/purchase.js
  test/server-unit/purchases/purchases.spec.js
Labels: Feature Request
