Repository third-culture-software/bhima, pull requests merged in 2022-02, with the labels that each got.

#6395 Update online documents
  docs/en/stock-management/accounting/ohada.md
  docs/en/stock-management/average-monthly-consumption.md
  docs/en/stock-management/depot.md
  docs/en/stock-management/glossary.md
  docs/en/stock-management/images/entry-completed-purchase-form.png
  docs/en/stock-management/images/entry-initial-form.png
  docs/en/stock-management/images/entry-integration-form.png
  docs/en/stock-management/images/entry-lot-selection.png
  docs/en/stock-management/images/entry-populated-purchase-form.png
  docs/en/stock-management/images/entry-select-purchase-order.png
  docs/en/stock-management/images/entry-select-transfer.png
  docs/en/stock-management/images/entry-transfer-form.png
  docs/en/stock-management/images/exit-depot-populated-form.png
  docs/en/stock-management/images/exit-initial-form.png
  docs/en/stock-management/images/exit-select-depot.png
  docs/en/stock-management/images/exit-select-patient.png
  docs/en/stock-management/images/exit-to-loss-form.png
  docs/en/stock-management/images/exit-to-patient-form.png
  docs/en/stock-management/images/purchase-order.png
  docs/en/stock-management/images/stock-adjustment-form.png
  docs/en/stock-management/images/stock-adjustment-populated-form.png
  docs/en/stock-management/images/stock-adjustment-unpopulated-form.png
  docs/en/stock-management/index.md
  docs/en/stock-management/inventory.md
  docs/en/stock-management/movement.adjustment.md
  docs/en/stock-management/movement.entry.md
  docs/en/stock-management/movement.exit.md
  docs/en/stock-management/overview.md
  docs/en/stock-management/stock.settings.md
  docs/en/stock-management/supplier.md
  docs/fr/stock-management/Manuel-dUtiliosation-Module-Stock-Actualise.pdf
  docs/fr/stock-management/index.md
Labels: documentation

#6374 feat(stock): add statistics to RUMER report
  client/src/i18n/en/report.json
  client/src/i18n/fr/report.json
  server/controllers/stock/reports/rumer.report.handlebars
  server/controllers/stock/reports/rumer_condensed.report.handlebars
  server/controllers/stock/reports/stock/rumer.js
Labels: Report, Stock

#6409 Verify that end date >= start date for bhDateInterval component
  client/src/i18n/en/errors.json
  client/src/i18n/fr/errors.json
  client/src/js/components/bhDateInterval.js
  client/src/modules/templates/bhDateInterval.tmpl.html
Labels: Refactor

#6417 Enable stock entry of assets
  client/src/modules/stock/entry/entry.js
  server/controllers/inventory/index.js
  server/controllers/inventory/inventory/core.js
Labels: Stock, Asset Tracking
