Repository third-culture-software/bhima, pull requests merged in 2022-04, with the labels that each got.

#6502 fix(stock): remove adjustments
  client/src/modules/stock/adjustment/adjustment.html
  client/src/modules/stock/adjustment/adjustment.js
  client/src/modules/stock/adjustment/templates/quantity.tmpl.html
  client/src/modules/stock/inventory-adjustment/inventory-adjustment.js
  client/src/modules/stock/stock.routes.js
  server/controllers/stock/reports/stock/adjustment_receipt.js
  server/models/bhima.sql
  server/models/migrations/next/migrate.sql
Labels: Bug Fix

#6504 fix(stock): improve Stock Value Report
  client/src/modules/reports/generate/stock_value/stock_value.config.js
  client/src/modules/reports/generate/stock_value/stock_value.html
  server/controllers/stock/reports/stock/value.js
  server/controllers/stock/reports/stock_value.report.handlebars
Labels: Refactor, Report, Stock

#6505 Report for show needed inventory scans for a required inventory scan
  client/src/i18n/en/asset.json
  client/src/i18n/en/report.json
  client/src/i18n/en/tree.json
  client/src/i18n/fr/asset.json
  client/src/i18n/fr/report.json
  client/src/i18n/fr/stock.json
  client/src/i18n/fr/tree.json
  client/src/js/components/bhRequiredInventoryScanSelect/bhRequiredInventoryScanSelect.js
  client/src/js/components/bhRequiredInventoryScanSelect/bhRequiredInventoryScanSelect.tmpl.html
  client/src/modules/asset_scans/asset-scans-registry.service.js
  client/src/modules/asset_scans/modals/search.modal.html
  client/src/modules/asset_scans/modals/search.modal.js
  client/src/modules/assets/modals/edit.modal.html
  client/src/modules/reports/generate/needed_inventory_scans/needed_inventory_scans.html
  client/src/modules/reports/generate/needed_inventory_scans/needed_inventory_scans.js
  client/src/modules/reports/reports.routes.js
  client/src/modules/required_inventory_scans/modals/edit.modal.html
  client/src/modules/required_inventory_scans/required-inventory-scans-registry.js
  client/src/modules/required_inventory_scans/templates/action.cell.html
  server/config/routes.js
  server/controllers/asset_management/assets/index.js
  server/controllers/asset_management/assets/reports/needed_inventory_scans.handlebars
  server/controllers/asset_management/assets/reports/needed_inventory_scans.js
  server/controllers/stock/asset_scan.js
  server/controllers/stock/core.js
  server/controllers/stock/required_inventory_scans.js
  server/models/bhima.sql
  server/models/migrations/next/migrate.sql
  test/integration/stock/asset_scans.js
Labels: Asset Tracking

#6552 fix(i18n): fix default database unit translations
  server/controllers/finance/reports/analysis_auxiliary_cashboxes/index.js
  server/models/bhima.sql
Labels: Bug Fix
