Repository third-culture-software/bhima, pull requests merged in 2023-11, with the labels that each got.

#7331 Fix a few bugs
  server/controllers/asset_management/shipment/reports/shipments.js
  server/lib/renderers/csv.js
  test/server-unit/csv.spec.js
Labels: Bug Fix, Report, Shipments

#7342 Adding the filter to the user page registry
  client/src/modules/users/search.modal.html
  client/src/modules/users/search.modal.js
  client/src/modules/users/users.html
  client/src/modules/users/users.js
  client/src/modules/users/users.service.js
  server/controllers/admin/users/index.js
Labels: feature

#7343 Updating tests reporting
  .gitignore
  .semaphore/semaphore.yml
  playwright.config.js
  sh/integration-stock-tests.sh
  sh/integration-tests.sh
  sh/test-clean-reports.sh
  sh/test-e2e-pw-account.sh
  sh/test-e2e-pw-stock.sh
  sh/test-e2e-pw-trace.sh
  sh/test-e2e-pw.sh
  sh/test-show-results.sh
  sh/test.sh
Labels: tests

#7352 Refactoring tests scripts
  package.json
  playwright.config.js
  sh/integration-stock-tests.sh
  sh/integration-tests.sh
  sh/test-clean-reports.sh
  sh/test-e2e-account.sh
  sh/test-e2e-all.sh
  sh/test-e2e-pw-all.sh
  sh/test-e2e-pw.sh
  sh/test-e2e.sh
  sh/test-show-results.sh
  sh/test.sh
Labels: tests

#7336 correct the account selection field is required
  client/src/modules/account_statement/account_statement.service.js
  client/src/modules/journal/modals/search.modal.html
  server/controllers/finance/reports/account_statement/index.js
  test/end-to-end/account/accountStatement/account_statement.page.js
  test/end-to-end/account/accountStatement/account_statement.spec.js
Labels: Bug
