Repository third-culture-software/bhima, pull requests merged in 2023-10, with the labels that each got.

#7205 Inventory usage REST API
  client/src/modules/stock/lots/modals/schedule.modal.html
  client/src/modules/stock/lots/modals/schedule.modal.js
  server/config/routes.js
  server/controllers/stock/lots.js
  test/integration/inventory/lot_schedule.js
Labels: Stock

#7262 Expose the RUMER data through the API
  server/config/routes.js
  server/controllers/stock/api/rumer.js
  server/controllers/stock/functions/README.md
  server/controllers/stock/functions/rumer.function.js
  server/controllers/stock/reports/index.js
  server/controllers/stock/reports/stock/rumer.js
  server/models/migrations/next/migrate.sql
  test/integration/stock/rumer.js
Labels: Stock

#7284 Satisfaction rate REST API
  client/src/modules/purchases/detailed/registry.js
  client/src/modules/purchases/templates/cellStatusDetailed.tmpl.html
  server/config/routes.js
  server/controllers/finance/purchases.js
  server/controllers/finance/reports/purchases/report_detailed.handlebars
  server/controllers/stock/reports/index.js
  server/controllers/stock/reports/satisfaction_rate_report.handlebars
  server/controllers/stock/reports/stock/satisfaction.js
  server/controllers/stock/reports/stock/satisfaction_rate_data.js
  server/controllers/stock/reports/stock/satisfaction_rate_report.js
  test/integration/stock/satisfication.js
Labels: Stock

#7300 Added developer documentation for getting end-to-end tests running.
  docs/en/for-developers/end-to-end-tests.md
  docs/en/for-developers/index.md
Labels: tests, documentation

#7302 Add the enable external access flag to users
  client/src/i18n/en/users.json
  client/src/i18n/fr/users.json
  client/src/js/components/bhUser.js
  client/src/modules/users/user.modal.html
  client/src/modules/users/users.js
  client/src/modules/users/users.service.js
  server/controllers/admin/users/index.js
  server/controllers/inventory/depots/extra.js
  server/models/migrations/next/migrate.sql
  server/models/schema.sql
  test/integration/users.js
Labels: Feature Request

#7303 fix(lots): remove incorrect header
  client/src/modules/stock/entry/modals/lots.modal.html
  client/src/modules/stock/inventories/templates/unit.tmpl.html
Labels: Bug Fix
